/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Bruno+Ace&family=Darumadrop+One&family=Foldit&family=Playfair+Display:wght@600&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Dhurjati&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global*/


:root {
    --black: #0c0c0c;
    --mainGray: #252525;
    --maroon: #8c1d40;
    --gold: #FFBF5F;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html, body{
    height: fit-content;
    width: fit-content;
    overflow-x: hidden;
}

body {
    margin: auto;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    background-color: var(--mainGray);
}

nav{
    background-color: var(--black);
    display: flex;
    font-family: 'Dhurjati', sans-serif;
}

main{
    animation: fadeIn 1s;
}

p{
    font-family: 'Arimo', sans-serif;
}

hr{
    max-width: 70%;
    height: 5px;
    background-color: #ffffff;
    margin: 2% auto 2% auto;
}

footer{
    background-color: var(--black);
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom: 0;
}

.ui-dialog{
    background-color: var(--black);
    height: 50px;
}

#dialog{
    background-color: var(--black);
    display: none;
    position: absolute;
}

#dialog h1{
    font-size: 4em;
}

form {
    font: 14px Arial;
    background-color: var(--black);
    padding: 10px;
    width: 400px;
    color: #ffffff;
}

/* .hide {
    display: none;
 } */

#formErrors {
    color: red;
}

input[type=text], input[type=email], input[type=password] {
    width: 400px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
 }
 
 input[type=text]:focus {
    background-color: lightblue;
 }
 
 input[type=submit] {
    width: 100%;
    color: white;
    background-color: var(--maroon);
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--gold);
}

input.error  {
    border: 2px solid red;
}

/* #killingSand{
    font-family: 'Bruno Ace';
}

#twelveSeconds{
    font-family: 'Vina Sans';
    
}

#neuTree{
    font-family: 'Foldit';
}

#theFaces{
    font-family: 'Darumadrop One';
} */

@media (min-width: 900px){

    .mobile, .mobile-nav{
        display: none;
    }

    nav ul{
        display: inline-flex;
        justify-content: center;
        margin: auto;
        flex: 60%;
    }
    
    nav li{
        font-size: 3em;
        margin: auto 5% auto 5%;
        vertical-align: middle;
        padding-bottom: 0.2em;
        
    }
    
    nav a{
        display: inline;
        text-decoration: none;
        color: #ffffff;
    }
    
    nav a:hover{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
        transition: 0.5s;
    }
    
    .selected{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    nav #tickets{
        flex: 20%;
        display: inline-flex;
        color: #ffffff;
        font-size: 2.5em;
        margin: auto 1% auto auto;
        justify-content: end;
    }

    nav #tickets:hover{
        color: var(--gold);
        cursor: pointer;
        transition: 0.5s;
    }
    
    #tickets p{
        text-align: center;
        font-family: 'Dhurjati', sans-serif;
        background-color: var(--maroon);
        padding-bottom: 0.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        max-width: 200px;
        border-radius: 10px;
    }

    nav #logo{
        flex: 20%;
    }

    #logo{
        margin-left: 1%;
    }

    #menuBtn{
        display: none;
    }

    main{
        display: flex;
        height: 100%;
        padding-bottom: 5rem;
    }

    h1{
        font-family: 'Dhurjati', sans-serif;
        font-size: 6em;
        color: var(--gold);
        text-align: center;
        margin-top: 1%;
    }

    h2{
        font-family: 'Dhurjati', sans-serif;
        font-size: 5em;
        color: #ffffff;
        text-align: center;
    }
    
    #home{
        flex: 90%;
    }
    
    #imgColumn{
        flex: 15%;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"; 
        justify-items: center; 
        overflow-x: hidden;
        height: 145vh;
    }
    
    #imgColumn img{
        max-width: 200%;
        height: 100%;
    }
    
    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }

    #lineUp{
        display: grid; 
        margin: auto;
        /* max-width: 1000px; */
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "day1 day1"
          "day2 day2"; 
    }

    #lineUp h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 4em;
        color: var(--gold);
    }

    #lineUp p{
        font-size: 3em;
        color: #ffffff;
    }

    .day1 {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "date1 bands1"; 
        grid-area: day1;
        margin-bottom: 2%;
        margin-top: 2%;
      }
      .bands1 {
        justify-self: start; 
        grid-area: bands1; 
      }
      .date1 {
        justify-self: end; 
        align-self: center;
        grid-area: date1;
        margin-right: 3%;
      }
      .day2 {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "date2 bands2"; 
        grid-area: day2;
        margin-top: 2%;
        margin-bottom: 2%;
      }
      .date2 {
        justify-self: end;
        align-self: center;
        grid-area: date2;
        margin-right: 3%;
      }
      .bands2 {
        justify-self: start; 
        grid-area: bands2; 
      }

    #info{
        
        text-align: center;
      }

    #info h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        margin: 0 auto 1% auto;
        color: var(--gold);
    }

    #info p{
        margin: 1% auto 1% auto;
        max-width: 500px;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: #ffffff;
    }
    #info #location{
        margin: 1% auto 1% auto;
        background-image: url(img/vector1.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center; 
        width: 800px;
    }

    small{
        font-size: 1.25em;
        font-family: 'Arimo', sans-serif;
        color: #ffffff;
    }

    footer svg{
        padding: 0 1% 0 1%;
    }

    footer svg:hover{
        cursor: pointer;
        transition: 0.5s;
    }

    footer svg:hover path{
        fill: var(--gold);
        transition: 0.5s;
    }

    #sponsors{
        padding-bottom: 5em;
    }

    #sponOne, #sponTwo{
        display: flex;
        margin: auto;
        justify-content: center;
        align-content: center;
    }

    #sponOne img{
        margin: 2%;
    }

    #footerTop{
        display: none;
    }

    #footerLeft{
        flex: 33%;
        margin: auto;
    }

    #footerMid{
        flex: 33%;
        margin: auto;
    }

    #footerRight{
        flex: 33%;
        margin: auto;
    }

    #featured{
        margin: 0 auto ;
        
    }

    #artists{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em auto;
        overflow: hidden;
        position: relative;
        min-width: 1200px;
    }

    .artistDesc{
        padding-bottom: 5em;
    }

    #artistLeft img, #artistRight img{
        height: 340px;
        opacity: 50%;
    }
    
    .artistDesc h2{
        -webkit-text-stroke: 3px var(--maroon);
        user-select: none;
        
    }

    .artistDesc h2 em{
        font-family: 'Arimo', sans-serif;
        -webkit-text-stroke: 0px var(--maroon);
        user-select: none;
    }

    .artistDesc h2 em:hover{
        color: var(--gold);
        cursor: pointer;
    }

    .artistDesc p{
        text-align: center;
        margin: auto;
        color: #ffffff;
        font-size: 2em;
        max-width: 1000px;
    }

    .slideContainer {
        flex: 100%;
        /* position: relative; */
        margin: auto;
        background-color: var(--linkGray);
        height: 801px;
    }

    .slide{
        display: inline-block;
        height: 100%;
    }

    .slide img{
        vertical-align: middle;
        text-align: center;
        height: 500px;
        animation: fadeIn 1s;
    }

    .next {
        right: 0;
    }
    
    /* Next and previous icon design */
    .previous,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 10px;
        margin-top: -25px;
        font-size: 2em;
    }
    
    /* caption decorate */
    .captionText {
        color: #000000;
        font-size: 14px;
        position: absolute;
        padding: 12px 12px;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }


    .fa {
        font-size: 32px;
        color: var(--linkGray);
    }
    
    .fa:hover {
        transition: 0.5s;
        color: var(--hoverGray);
    }
    
    .footerdot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.5s ease;
    }
    
    .active,
    .footerdot:hover {
        background-color: black;
    }

    #artistMobile{
        display: none;
    }

    #find{
        display: block;
        max-height: 750px;
    }

    #find h1{
        margin-bottom: 2%;
    }

    .previous{
        left: 5px;
    }

    .next{
        right: 5px;
    }

    .links {
        display: grid;
        margin: auto;
        justify-content: center;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 15% 0%; 
        grid-template-areas: 
          "facebook twitter"
          "instagram tiktok"; 
        max-width: 1200px;
    }

    .links div{
        background-color: var(--maroon);
        color: #ffffff;
        min-height: 100px;
        min-width: 400px;
        max-width: 500px;
        margin: auto;
        border-radius: 10px;
        cursor: pointer;
    }

    .links div:hover{
        color: var(--gold);
        transition: 0.5s;
    }

    .facebook { grid-area: facebook; display: flex;}
    .twitter { grid-area: twitter; display: flex; }
    .instagram { grid-area: instagram; display: flex; }
    .tiktok { grid-area: tiktok; display: flex; }

    .links svg{
        flex: 25%;
        margin: auto;
        height: 4em;
        width: 4em;
    }

    .links h3{
        flex: 75%;
        margin: auto;
        font-family: 'Arimo', sans-serif;
        font-style: italic;
        font-size: 2.5em;
        text-align: center;
    }

    #contacts{
        display: block;
        margin-top: 5%;
    }

    #contacts h2{
        color: var(--gold);
    }

    #contacts p{
        text-align: center;
        color: #ffffff;
        font-size: 2em;
        margin: 2%;
    }

    #telEmail{
        background-image: url(img/vector1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% auto;
    }
}

@media (max-width: 900px){
    body{
        overflow:hidden;
        height: 100%;
    }

    #mainMenu {
        display: none;
    }
    
    nav a:hover{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    .selected{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    nav #tickets{
        display: none;
    }
    #logo{
        margin-left: 2%;
        flex: 80%;
    }

    #menuBtn{
        flex: 20%;
        margin: auto 2% auto auto;
        text-align: right;
    }

    /* nav ul{
        display: none;
    } */

    /* nav .mobile{
        flex: 20%;
    } */

    .hamburger-menu{
        cursor: pointer;
        flex: 20%;
        margin: auto 5% auto auto;
        z-index:3;
    }

    .show {
        left:0%;
        opacity:1;
      }
      
      .hide {
        opacity:0;
        left:100%;
      }

      .showMen {
        display: block;
      }
      
      .hideMen {
        display: none;
      }
      
      .mobile-nav {
        background:rgba(37, 37, 37, 0.9);
        position:absolute;
        top:0;
        width:100vw;
        height:100vh;
        text-align:center;
        transition: .2s ease;
        z-index: 2;
        /*  transition: opacity .5s ease;
        -moz-transition: opacity .5s ease;
        -webkit-transition: opacity .5s ease;
        transition:left .5s ease-in-out;*/
      }
      .mobile-nav ul{
        position:absolute;
        top:40%;
        transform: translateY(-50%);
        list-style:none;
        width: 100%;
        margin: auto;
      }
      
      .mobile-nav a {
        text-align:center;
        font-size:4.5em;
        color:#ffffff;
        opacity:0;
        transition:opacity .9s ease-in-out;
        text-decoration: none;
      }
      
      .mobile-nav.show a {
        text-align:center;
        font-size:4.5em;
        color:#ffffff;
        opacity:1;
      }

    main{
        display: flex;
        height: 100%;
        flex: 1 1 auto;
    }

    #imgColumn{
        display: none;
    }

    #home{
        flex: 100%;
        margin: 0 auto 0 auto;
    }

    h1{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3.5em;
        color: var(--gold);
        text-align: center;
        margin-top: 1%;
        margin-bottom: 5%;
        line-height: 0.75em;
    }

    h1 strong{
        color: #ffffff;
    }

    h2{
        display: none;
    }

    #sponsors{
        
    }

    #sponsors h2{
        display: block;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: #ffffff;
        text-align: center;
        padding-bottom: 0.25em;
    }

    #lineUp{
        margin: auto;
        text-align: center;
    }

    #lineUp h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: var(--gold);
    }

    #lineUp p{
        font-size: 2em;
        color: #ffffff;
    }

    #info{
        text-align: center;
        margin: 5% 0 5% 0;
    }

    #info h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 2em;
        margin: 0 auto 1% auto;
        color: var(--gold);
    }

    #info p{
        margin: 2% auto 2% auto;
        max-width: 250px;
        font-family: 'Dhurjati', sans-serif;
        font-size: 2em;
        color: #ffffff;
    }

    #info #location{
        margin: 1% auto 1% auto;
        background-image: url(img/vector1.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 80%;
    }

    #sponOne, #sponTwo{
        display: block;
        margin: auto;
        text-align: center;
    }

    #sponOne img, #sponTwo img{
        margin: 2%;
        max-width: 200px;
    }

    footer{
        display: block;
        text-align: center;
        padding: 10px 0 10px 0;
        position: relative;
        bottom: 0;
        
    }

    footer svg{
        width: 2.25em;
        height: 2.25em;
        padding: 1%;
    }

    footer svg:hover{
        cursor: pointer;
    }

    #footerLeft{
        flex: 50%;
        margin: auto;
    }

    #footerMid{
        display: none;
    }

    #footerRight{
        flex: 50%;
        margin: auto;
    }

    small{
        font-size: 1em;
        font-family: 'Arimo', sans-serif;
        color: #ffffff;
    }

    #find{
        display: block;
        max-height: 80vh;
    }

    #featured{
        margin: 0 auto ;
        max-width: 350px;
    }

    #artists{
        display: none;
    }

    .mobileDesc h2{
        display: block;
        display: block;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3.5em;
        color: #ffffff;
        text-align: center;
        -webkit-text-stroke: 2px var(--maroon);
    }

    .mobileDesc h2 em{
        display: none;
    }

    .mobileDesc p{
        text-align: center;
        margin: auto;
        color: #ffffff;
        font-size: 1.5em;
        padding-bottom: 10%;
    }

    #artistMobile{
        overflow-x: hidden;
    }

    .artistDesc{
        display: none;
    }

    .mobile{
        display: flex;
        justify-content: center;
    }
    
    .mobile > img{
        margin: auto;
        text-align: center;
        filter: drop-shadow(10px 10px 4px var(--black));
    }

    .links {
        display: block;
        margin: auto;
        justify-content: center;
        max-width: 1200px;
    }

    .links div{
        background-color: var(--maroon);
        color: #ffffff;
        min-height: 75px;
        min-width: 200px;
        max-width: 300px;
        margin: 5% auto 5% auto;
        border-radius: 10px;
        
    }

    .links div:hover{
        color: var(--gold);
    }

    .facebook { grid-area: facebook; display: flex;}
    .twitter { grid-area: twitter; display: flex; }
    .instagram { grid-area: instagram; display: flex; }
    .tiktok { grid-area: tiktok; display: flex; }

    .links svg{
        flex: 25%;
        margin: auto;
        height: 3em;
        width: 3em;
    }

    .links h3{
        flex: 75%;
        margin: auto;
        font-family: 'Arimo', sans-serif;
        font-style: italic;
        font-size: 2em;
        text-align: center;
    }

    #contacts{
        display: block;
        margin-top: 5%;
    }

    #contacts h2{
        display: block;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: var(--gold);
        text-align: center;
    }

    #contacts p{
        text-align: center;
        color: #ffffff;
        font-size: 1.4em;
        margin: 2%;
    }

    #telEmail{
        background-image: url(img/vector1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        margin-bottom: 10%;
    }
}
