/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Dhurjati&display=swap');

:root {
    --black: #0c0c0c;
    --mainGray: #252525;
    --maroon: #8c1d40;
    --gold: #FFBF5F;
}

body {
    margin: auto;
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    background-color: var(--mainGray);
}

nav{
    background-color: var(--black);
    display: flex;
    font-family: 'Dhurjati', sans-serif;
}



p{
    font-family: 'Arimo', sans-serif;
}

hr{
    max-width: 70%;
    height: 5px;
    background-color: #ffffff;
    margin: 2% auto 2% auto;
}

footer{
    background-color: var(--black);
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -1;
}

@media (min-width: 900px){
    nav ul{
        display: inline-flex;
        justify-content: center;
        margin: auto;
        flex: 60%;
    }
    
    nav li{
        font-size: 3em;
        margin: auto 5% auto 5%;
        vertical-align: middle;
        padding-bottom: 0.2em;
        
    }
    
    nav a{
        display: inline;
        text-decoration: none;
        color: #ffffff;
    }
    
    nav a:hover{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    .selected{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    nav #tickets{
        flex: 20%;
        display: inline-flex;
        color: #ffffff;
        font-size: 2.5em;
        margin: auto 1% auto auto;
        justify-content: end;
    }

    nav #tickets:hover{
        color: var(--gold);
        cursor: pointer;
    }
    
    #tickets p{
        text-align: center;
        font-family: 'Dhurjati', sans-serif;
        background-color: var(--maroon);
        padding-bottom: 0.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        max-width: 200px;
        border-radius: 10px;
    }

    nav #logo{
        flex: 20%;
    }

    #logo{
        margin-left: 1%;
    }

    #menuBtn{
        display: none;
    }
    
    main{
        display: flex;
    }

    h1{
        font-family: 'Dhurjati', sans-serif;
        font-size: 6em;
        color: var(--gold);
        text-align: center;
        margin-top: 1%;
    }

    h2{
        font-family: 'Dhurjati', sans-serif;
        font-size: 5em;
        color: #ffffff;
        text-align: center;
    }
    
    #home{
        flex: 90%;
    }
    
    #imgColumn{
        flex: 15%;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"; 
        justify-items: center; 
        overflow-x: hidden;
        max-height: 100%;
    }
    
    #imgColumn img{
        max-width: 200%;
        height: 100%;
    }
    
    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img4 { grid-area: img4; }

    #lineUp{
        display: grid; 
        margin: auto;
        /* max-width: 1000px; */
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "day1 day1"
          "day2 day2"; 
    }

    #lineUp h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 4em;
        color: var(--gold);
    }

    #lineUp p{
        font-size: 3em;
        color: #ffffff;
    }

    .day1 {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "date1 bands1"; 
        grid-area: day1;
        margin-bottom: 2%;
        margin-top: 2%;
      }
      .bands1 {
        justify-self: start; 
        grid-area: bands1; 
      }
      .date1 {
        justify-self: end; 
        align-self: center;
        grid-area: date1;
        margin-right: 3%;
      }
      .day2 {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "date2 bands2"; 
        grid-area: day2;
        margin-bottom: 2%;
      }
      .date2 {
        justify-self: end;
        align-self: center;
        grid-area: date2;
        margin-right: 3%;
      }
      .bands2 {
        justify-self: start; 
        grid-area: bands2; 
      }

    #info{
        
        text-align: center;
      }

    #info h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        margin: 0 auto 1% auto;
        color: var(--gold);
    }

    #info p{
        margin: 1% auto 1% auto;
        max-width: 500px;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: #ffffff;
    }
    #info #location{
        margin: 1% auto 1% auto;
        background-image: url(img/vector1.png);
        background-repeat: no-repeat;
        background-position: center; 
        width: 800px;
    }

    small{
        font-size: 1.25em;
        font-family: 'Arimo', sans-serif;
        color: #ffffff;
    }

    footer{
        text-align: center;
        padding: 10px 0 10px 0;
        position: absolute;
        bottom: -1;
    }

    footer svg{
        padding: 0 1% 0 1%;
        
    }

    footer svg:hover{
        cursor: pointer;
        stroke: var(--gold);
        fill: var(--gold);
    }

    #footerTop{
        display: none;
    }

    #footerLeft{
        flex: 33%;
        margin: auto;
    }

    #footerMid{
        flex: 33%;
        margin: auto;
    }

    #footerRight{
        flex: 33%;
        margin: auto;
    }

    #featured{
        margin: 0 auto ;
    }

    #artists{
        display: flex;
        align-items: center;
        margin: 2em auto;
        overflow: hidden;
        position: relative;
        width: 300px;
    }

    #artists button{
        border: 0;
        border-radius: 50%;
        color: #ffffff;
        cursor: pointer;
        font-size: 1em;
        opacity: 0.25;
        transition: opacity 0.25s;
        position: absolute;
        z-index: 1;
    }
    
    #artistImages{
        display: flex;
        transform: translateX(0);
        transition: transform 0.25s;
    }

    .previous{
        left: 5px;
    }

    .next{
        right: 5px;
    }
}

@media (max-width: 900px){
    nav ul{
        display: none;
    }
    
    nav a:hover{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    .selected{
        -webkit-text-stroke: 2px var(--maroon);
        -webkit-text-fill-color: #ffffff;
    }
    
    nav #tickets{
        display: none;
    }

    #logo{
        margin-left: 2%;
        flex: 80%;
    }

    #menuBtn{
        flex: 20%;
        margin: auto 2% auto auto;
        text-align: right;
    }

    main{
        display: flex;
    }

    #imgColumn{
        display: none;
    }

    #home{
        flex: 100%;
        margin: auto;
    }

    h1{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: var(--gold);
        text-align: center;
        margin-top: 1%;
        line-height: 0.75em;
    }

    h1 strong{
        color: #ffffff;
    }

    h2{
        display: none;
    }

    #sponsors h2{
        display: block;
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: #ffffff;
        text-align: center;
    }

    #lineUp{
        margin: auto;
        text-align: center;
    }

    #lineUp h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 3em;
        color: var(--gold);
    }

    #lineUp p{
        font-size: 2em;
        color: #ffffff;
    }

    #info{
        text-align: center;
        margin: 5% 0 5% 0;
    }

    #info h3{
        font-family: 'Dhurjati', sans-serif;
        font-size: 2em;
        margin: 0 auto 1% auto;
        color: var(--gold);
    }

    #info p{
        margin: 2% auto 2% auto;
        max-width: 250px;
        font-family: 'Dhurjati', sans-serif;
        font-size: 2em;
        color: #ffffff;
    }

    #info #location{
        margin: 1% auto 1% auto;
        background-image: url(img/vector1.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 80%;
    }

    footer{
        display: block;
        text-align: center;
        padding: 10px 0 10px 0;
        position: absolute;
        bottom: 0;
    }

    footer svg{
        width: 2.25em;
        height: 2.25em;
        padding: 1%;
    }

    footer svg:hover{
        cursor: pointer;
        stroke: var(--gold);
        fill: var(--gold);
    }

    #footerLeft{
        flex: 50%;
        margin: auto;
    }

    #footerMid{
        display: none;
    }

    #footerRight{
        flex: 50%;
        margin: auto;
    }

    small{
        font-size: 1em;
        font-family: 'Arimo', sans-serif;
        color: #ffffff;
    }
}
